@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@400;700&family=Noto+Serif+Khmer:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/img\ bf.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

}

.container {
    max-width: 1200px;
    margin: auto;
}

.width-nav {
    margin: auto;
    max-width: 1370px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul,
li {

    display: flex;
    justify-content: center;
    margin: 10px 25px 15px;
    transition: all 0.42s ease;
}

.nav a:hover {
    transform: scale(1.03);
    text-decoration: underline;
    text-decoration-color: rgb(242, 69, 75);

}

.nav span {
    text-decoration: underline;
    text-decoration-color: rgb(242, 69, 75);

}

button {
    font-weight: bold;
    color: white;
    padding: 8px;
    width: 120px;
    border: none;
    border-radius: 20px;
    background-color: rgb(176, 111, 237);
    transition: all 0.42s ease;
}

button:hover {
    transform: scale(1.05);
}

.main-text {
    margin: auto;
    max-width: 1300px;
}

.text {
    margin-top: 5rem;
    font-size: 20px;
}

.main-text button {
    margin-top: 20px;
}

@media screen and (max-width:768px) {
    .container {
        max-width: 768px;
        display: flex;
        flex-direction: column;
    }

    .width-nav {
        margin: auto;
        max-width: 500px;
        font-family: 'Roboto Slab', serif;
        display: flex;
        flex-direction: column;
    }

    .nav ul,
    li {
        margin: 10px 10px 15px;
    }

    .main-text {
        text-align: center;
        margin: auto;
    }

}